<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.springboot.per.BookMapper">

<!--    <select id="productList" resultType="com.chunjae.springboot.entity.Book">-->
<!--        select * from book order by regdate desc-->
<!--    </select>-->

    <select id="productList" resultType="com.chunjae.springboot.entity.Book">
        <![CDATA[
        select * from book
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()">
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        ORDER BY bno ASC LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="totalCount" resultType="integer">
        <![CDATA[
        select count(*) from book
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()" >
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()" >
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'author'.toString()" >
                        author LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <!-- 도서 상세보기 -->
    <select id="bookGet" resultType="com.chunjae.springboot.entity.Book">
        select * from book where bno=#{bno}
    </select>
    <!-- 도서 입력 -->
    <insert id="bookAdd">
        insert into book values (default, #{cateId}, #{title}, #{content}, #{publish}, #{author}, #{cost}, #{puser}, #{img})
    </insert>
    <!-- 도서 수정 -->
    <update id="bookUpdate">
        update book set cateId=#{cateId}, title=#{title}, content=#{content}, publish=#{publish}, author=#{author}, cost=#{cost}, puser=#{puser}, sno=#{sno}, img=#{img} where bno=#{bno}
    </update>
    <!-- 도서 삭제 -->
    <delete id="bookDelete">
        delete from book where bno=#{bno}
    </delete>
</mapper>